* {
	font-family: Arial;
	font-size: 14px;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(40, 40, 40);
}

.centralizar {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.area-util {
	width: 100%;
	max-width: 1024px;
}

.tributo {
	margin: 40px;
	flex-direction: column;
}

.tributo__title {
	font-size: 40px;
	font-weight: bold;
	color: rgba(190, 190, 190, 0.8);
	text-shadow: 0.5px 0.5px 1.5px #CCCCCC;
}

.tributo__subtitle {
	margin-top: 5px;
	font-size: 30px;
	font-weight: 500;
	color: rgba(180, 180, 180, 0.5);
	text-shadow: 0.5px 0.5px 1px #666666;
}

.image-area {
	border: 2px solid #444444;
	background-color: #444444;
}

.image-area__foot-note {
	color: #BBBBBB;
	margin: 5px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.resumo {
	text-align: justify;
	color: #BBBBBB;
	margin: 30px 0px;
}

.timeline {
	display: flex;
	flex-direction: row;
	margin: 20px 10px;
}

.timeline__linha {
	width: 15px;
	background-color: #BBBBBB;
	border-radius: 10px;
}

.timeline__detalhes {
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
}

.timeline__item {
	color: #BBBBBB;
	margin-bottom: 20px;
}

.esquerda .timeline__item .data {
	font-size: 16px;
	font-weight: bold;
	padding: 0px 30px 2px 0px;
	margin-left: 10px;
	text-align: right;
}

.esquerda .timeline__item .texto {
	border-top: 1px solid #777777;
	padding: 5px 30px 5px 0px;
	margin-left: 10px;
	max-width: 300px;
	text-align: right;
}

.esquerda .timeline__item:nth-child(even) {
	height: 30px;
}

.esquerda .timeline__item:nth-child(even) .texto,
.esquerda .timeline__item:nth-child(even) .data {
	display: none
}

.direita .timeline__item .data {
	font-size: 16px;
	font-weight: bold;
	padding: 0px 0px 2px 30px;
	margin-right: 10px;
	text-align: left;
}

.direita .timeline__item .texto {
	border-top: 1px solid #777777;
	padding: 5px 0px 5px 30px;
	margin-right: 10px;
	max-width: 300px;
	text-align: left;
}

.direita .timeline__item:nth-child(odd) {
	height: 30px;
}

.direita .timeline__item:nth-child(odd) .texto,
.direita .timeline__item:nth-child(odd) .data {
	display: none
}

.more {
	text-align: justify;
	color: #BBBBBB;
	margin: 10px 0px;
}

.more a {
	color: #BBBBBB;
	text-decoration: none;
}

.more a:hover {
	color: #777777;
}

footer {
	background-color: rgb(70, 70, 70);
	margin-top: 20px;
}

.info {
	margin: 5px;
	flex-direction: column;
}

.info__links {
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.info__links a {
	margin: 10px;
	background-color: #BBBBBB;
	border-radius: 30px;
	padding: 5px;
}

.info__links a:hover {
	background-color: #888888;
}

.info__links img {
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
}

.info__creditos,
.info__creditos a {
	font-size: 16px;
	font-weight: 500;
	color: #BBBBBB;
}

.info__creditos a{
	text-decoration: none;
	color: #BBBBBB;
}

.info__creditos a:hover {
	color: #777777;
}