.area-topo {
	max-height: 700px;
	height: 100%;
}

.area-topo img {
	height: 700px;
	object-fit: contain;
	background-color: rgba(40, 40, 40, 0.5);
}

.area-topo .carousel-item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.area-topo .carousel-item h4 {
	text-shadow: 0px 0px 4px #333333;
}

.area-logo {
	padding: 0 !important;
}

.fundo-verde {
	background-color: #7DC353;
}

.fundo-verde-claro {
	background-color: #49cc47;
}

.fundo-verde .texto-destaque {
	color: #FED20F;
}

.accordion a:hover {
	text-decoration: none;
}

.accordion i {
	color: #FED20F;
	font-size: 18px;
	transition: 0.5s;
}

.accordion a:hover i {
	color: rgba(254, 210, 15, 0.6);
	font-size: 28px;
}

.accordion .btn-outline-info {
	background-color: #49cc47;
}

.modal-header i {
	color: #FED20F;
	font-size: 18px;
	transition: 0.5s;
}

.modal-header button:hover i {
	color: rgba(254, 210, 15, 0.6);
	font-size: 28px;
}

.modal-mapa .modal-content {
	background-color: #7DC353;
}

@media (max-width: 1240px) and (min-width: 891px) {
	.area-topo img {
		height: 500px;
	}
}

@media (max-width: 890px) {
	.area-topo img {
		height: 300px;
		padding: 1em;
	}
}
